body {
    max-width: 800px;
    margin: 0 auto;
}

.sender-column {
    text-align: right;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

p, ul, ol, dl, address {
    font-size: 1.1em;
}

p, li, dd, dt, address {
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
    position: relative;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
